<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Max Verstappen number 1 Fanpage</title>
    <link rel="stylesheet"  href="/style.css" >
</head>
<body>
    <div class="home-page">
        <div class="text-btns">
            <div>
                <h1>Welcome to the Verstappen Fanpage</h1>
            </div>
            <div class="links">
                <a href="http://localhost:3000/about">
                    <button onclick="">About</button>
                </a>
                <a href="http://localhost:3000/photogallery">
                    <button>Photo Gallery</button>
                </a>
                <a href="http://localhost:3000/works">
                    <button>Works</button>
                </a>
            </div>
        </div>
        
    </div>
  
</body>
</html>