<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
</head>
<body>
    <div class="photos">
        <div class="photo-header">
            <h1>Photo Gallery</h1>
        </div>
        <div>
            <img class="max-img" src="https://topgear.nl/thumbs/hd/2019/11/Max-Verstappen-viert-overwinning-op-podium-GP-van-Brazili%C3%AB-2019-scaled.jpg" alt="Max Cheering" height="200px">
            <img class="max-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJNYTkzIxejjVP2LXX2dwXwZYPVVwNkZY_jw&usqp=CAU" alt="Max thumbs up" height="200px">
        </div>
    </div>
    
</body>
</html>