<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accomplishments</title>
    <link rel="stylesheet"  href="/style.css" >
</head>
<body>
    <div class="works">
        <div>
            <h1>
                Accomplishments
            </h1>
        </div>
        <div>
            <h3>
                Formula 1
            </h3>
        </div>
        <div>
            <p>
                Max Verstappen has <br>10 wins. <br>
                42 Podiums. <br>1162 Career points. <br>10 fastest laps. <br>119 entires.
            </p>
        </div>
    </div>


</body>
</html>